<p>completed works!</p>
<div *ngFor="let t of todo$ |async" >
    <div *ngIf="t.completed == true" class="row justify-content-center align-items-center ">

        <div class="card border-success text-success" style="width: 18rem;" [routerLink]="['/todo', t.id]">

            <div class="card-body">
                <h5 class="card-title">Todo Number: {{t.id}}</h5>
                <p class="card-text">{{t.title}}</p>
                <p class="card-text">Completion Status</p>

                <div>

                    <a href="#" class="btn btn-success">{{t.completed}}</a>
                    <!-- <strong class="card-text text-success">{{t.completed}}</strong> -->
                </div>




            </div>
        </div>

    </div>



    <div class="mb-2"></div>


</div>